$table-header-border-color : #dddddd;
$table-border-bottom-color : black;

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin : 10px
  }
  
td {
    border: 1px solid $table-header-border-color;
    border-width: 2px;
    width: 20%;
    text-align: left;
    padding: 8px;
}
th{
    @extend td;
    border-width:3px;
    border-bottom-color: $table-border-bottom-color;
}
  