table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin : 10px
  }
  
td{
    border: 1px solid black;
    border-width: 2px;
    width: 20%;
    text-align: left;
    padding: 8px;
}

  