h2{
    text-align: left;
    font-size: medium;
    padding-left: 10px;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-left: 10px;
    width: 30%;
    button {
        background-color: inherit;
        width: 20%;
        float: left;
        border-width: 1px;
        outline: none;
        cursor: pointer;
        padding: 6px 10px;
        transition: 0.3s;
        font-size: 11px;
        &:hover{
            background-color: #ddd;
        }
        &.active{
            background-color: #ccc;
        }
    }
  }